<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDopzPyozSm5Jsm9fkwA9BVo_4QB8Mm_Vs</string>
	<key>GCM_SENDER_ID</key>
	<string>1093443731116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.airon.markup</string>
	<key>PROJECT_ID</key>
	<string>markup-5f89f</string>
	<key>STORAGE_BUCKET</key>
	<string>markup-5f89f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093443731116:ios:1cabd117392634ec1d2909</string>
</dict>
</plist>